<style>
  table {
    .odd {
      background: #e3e3e3;
    }
  }
  .npcs {
    table {
      --first-column-width: 4em;
      width: 100%;
      table-layout: fixed;
      display: table;

      .odd {
        background: transparent;
      }

      tr:nth-child(1),
      tr:nth-child(2),
      tr:nth-child(3),
      tr:nth-child(4),
      tr:nth-child(5) {
        td:nth-child(1),
        td:nth-child(3) {
          width: var(--first-column-width);
        }

        td:nth-child(2),
        td:nth-child(4) {
          width: calc(50% - var(--first-column-width));
        }
      }

      td:nth-child(1) {
        width: var(--first-column-width);
      }
      td:nth-child(2) {
        width: calc(100% - var(--first-column-width));
      }

      td:nth-child(3),
      td:nth-child(4) {
        width: 0%;
      }
    }

    h4 {
      /* Supposedly the NPC titles */
      margin-top: 4em;
    }
  }
</style>
<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    const title = "CWN SRD";
    // Add links to parent
    const parentHeader = document.createElement("header");
    const link = document.createElement("a");
    link.innerHTML = `Go to ${title} README`;
    parentHeader.appendChild(link);

    const sitenav = document.querySelector("#sitenav");
    const blockHeader = document.querySelector("#title-block-header");
    if (sitenav === null) {
      link.setAttribute("href", "index.html");
      blockHeader.prepend(parentHeader);
    } else {
      // in multipage SRD
      if (window.location.pathname.split("/").pop() === "index.html") {
        link.setAttribute("href", "../index.html");
        // In the first page
        sitenav.prepend(parentHeader);
      }
    }

    // Adjust tables for NPCs
    document
      .querySelectorAll(".npcs table tr:nth-child(n+6) td:nth-child(n+3)")
      .forEach((e) => e.remove());

    document
      .querySelectorAll(".npcs table tr:nth-child(n+6) td")
      .forEach((e) => e.setAttribute("colspan", "2"));
  });
</script>
