<style>
  table {
    .odd {
      background: #e3e3e3;
    }
  }
</style>
<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    const title = "WWN SRD";
    // Add links to parent
    const parentHeader = document.createElement("header");
    const link = document.createElement("a");
    link.innerHTML = `Go to ${title} README`;
    parentHeader.appendChild(link);

    const sitenav = document.querySelector("#sitenav");
    const blockHeader = document.querySelector("#title-block-header");
    if (sitenav === null) {
      link.setAttribute("href", "index.html");
      blockHeader.prepend(parentHeader);
    } else {
      // in multipage SRD
      if (window.location.pathname.split("/").pop() === "index.html") {
        link.setAttribute("href", "../index.html");
        // In the first page
        sitenav.prepend(parentHeader);
      }
    }
  });
</script>
